html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.animaçaolinhaesquerda {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .animaçaolinhaesquerda:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, rgb(51, 51, 51), rgb(42, 127, 211));;
    transform-origin: bottom right;
    transition: transform 1s ease-out;
  }
  
  .animaçaolinhaesquerda:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .animaçaolinhadireita {
    display: inline-block;
    position: relative;
    color: rgb(51, 51, 51);
  }
  
  .animaçaolinhadireita:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(51, 51, 51), rgb(42, 127, 211));
    transform-origin: bottom left;
    transition: transform 1s ease-out;
  }
  
  .animaçaolinhadireita:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

h1 {
    font-size: 8em;
}

body, head, footer {
    font-family: 'Darker Grotesque', sans-serif;
}

h2 {
    color: rgb(222, 185, 89);
    font-size: 3em;
}

.marginsobre {
    margin-left: 20em;
    margin-right: 20em;
}

.linkquem {
    text-decoration: none;
    color: inherit;
}

.caixaazulclaro {
    background-color: rgba(133, 205, 245);
    padding: 0.3;
    color: rgb(51, 51, 51);
    font-size: xx-large;
}

.centralizar {
    text-align: center;
}

.fotolobão {
    background: url(./assets/image\ \(3\).png) no-repeat center;
    background-size: 100em;
    height: 36.2em;
    color: rgba(255, 255, 255);
    padding: 1%;
}

.caixaazulescuro {
    background-color: rgba(44, 86, 127);
    color: rgba(255, 255, 255);
    padding: 1%;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    width: 2em;
    height: 0.04em;
    background: rgb(225, 225, 225);
    margin-bottom: 50px;
    transition: transform 1s;
    transform: scale(1);
}

hr:hover, hr:focus {
    transform: scale(2);
}

.caixacinzaescuro {
    padding: 1%;
    background-color: rgba(51, 51, 51);
    color: rgba(255, 255, 255)
}

.circulobranco {
    background-color: rgba(255, 255, 255);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.6em;
}

.subtituloprincipal {
    font-size: 1.5em;
    margin-left: 15em;
    margin-right: 15em;
}

h3 {
    font-size: 2.5em;
}

.paragrafolista {
    padding: 0;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.5em;
}

.displaysection {
    display: flex;
}

.listavertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.caixabranca {
    background-color: rgba(255, 255, 255);
    margin: none;
    padding: none;
}

.lobos {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
}

.lobosreverso {
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.boxshadow1 {
    box-shadow: -2em -2em rgb(44, 86, 128);
}

.boxshadow2 {
    box-shadow: 2em -2em rgb(44, 86, 128);
}

.fadein img{
    opacity:0.8;
    transition: 1s ease;
    }
    
    .fadein img:hover{
    opacity:1;
    transition: 1s ease;
    }

.coridade {
    color: rgb(191, 191, 191)
}

footer {
    padding-top: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iframe {
    margin-left: 10em;
}

.informaçõescontato {
    display: flex;
}

.margemcontato {
    margin-right: 18em;
    margin-left: 2em;
    margin-bottom: 3em;
}

.margemcontato2 {
    margin-bottom: 1em;
}

.margempaw {
    margin-right: 10em;
}

.button {
    color: rgb(53, 53, 53);
    background: rgb(222, 185, 89);
    font-style: bold;
    transition: transform 1s;
    transform: scale(1);
    font-family: 'Darker Grotesque', sans-serif;
    margin-top: 1.4em;
    font-size: 1.3em;
}

button:hover, button:focus {
    transform: scale(1.1);
}

.hoverpaw {
    transition: transform 1s;
    transform: scale(1);
}

.hoverpaw:hover, .hoverpaw:focus {
    transform: scale(1.1);
}